<main class="main">
  <div class="content">
    <h1>Prueba de formulario</h1>
  </div>

  <section class="form_login">
    <form action="" id="form">
      <img src="assets/logo_planet.png" alt="Logo" class="logo">
      <h1>PLANET SUPER HEROES</h1>
      <h2>
        Inicio Sesión
      </h2>
      <div class="form__field">
        <input 
          class="controles" 
          type="text" 
          name="usuario" 
          placeholder="Usuario" 
          id="usuario"
          autocomplete="off"
          value=""
        />
        <small></small>
      </div>

      <div class="form__field">
        <input 
          class="controles" 
          type="password" 
          name="password" 
          placeholder="Contraseña" 
          id="password"
          autocomplete="off"
          value=""
          />
        <small></small>
      </div>

      <div>
        <input class="botom" type="submit" value="Ingresar" />
      </div>
        
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        
      <a class="go_back" href="#">Volver al Inicio</a>
    </form>
  </section>
</main>
<router-outlet />